{% extends 'base.html' %}
{% load static %}
<!-- END: header -->


{% block body %}
{% load crispy_forms_tags %}



<div class="jumbotron text-center" style=" margin:0%; margin-top: 5%; padding: 10%;">
    <h1 class="display-3">Thank You!</h1>

    <p class="lead"><strong>Please wait for booking confirmation</strong> we will call you soon thank you</p>
    <hr>
    <p>
        Have any request? <a href="{% url 'contact' %}">Contact us</a>
    </p>
    <p class="lead">
        <a class="btn btn-primary btn-sm" href="{% url 'home' %}" role="button">Continue to homepage</a>
    </p>
</div>





{% endblock %}